/PVs
/Ressources
/TD/ExempleJAXB/nbproject/private/
/TD/ExempleJAXB/build/

*.xlsx
*.class
/exemples/ValidationXMLSchema/nbproject/private/
/exemples/ValidationXMLSchema/build/
/exemples/ValidationDTD/nbproject/private/
/exemples/ValidationDTD/build/
/tps/CreerXML/nbproject/private/
/tps/CreerXML/build/
/tps_solutions/LireXML/nbproject/private/
/tps_solutions/LireXML/build/
/tps_solutions/ExempleXML/nbproject/private/
/tps_solutions/ExempleXML/build/
/controles_tp/2021_2022/DSControleTP01/nbproject/private/
/controles_tp/2021_2022/DSControleTP01/build/
/controles_tp/2021_2022/DSControleTP02/nbproject/private/
/controles_tp/2021_2022/DSControleTP03/nbproject/private/
/controles_tp/2021_2022/DSControleTP04/nbproject/private/
/exemples/DSJaxBExemple/nbproject/private/
/exemples/DSJaxBExemple/build/
/exemples/ExempleJSON/ClientJSON/nbproject/private/
/exemples/ExempleJSON/ServeurJSON/nbproject/private/
/exemples/ExempleJSON/ExempleAvecJSON/node_modules/
/exemples/ExempleJSON/ExempleSansJSON/nbproject/private/
/controles_tp/2022_2023/Controle_tp_01/nbproject/private/
/controles_tp/2022_2023/Controle_tp_01/build/
/controles_tp/2022_2023/JavaApplication92/nbproject/private/
/controles_tp/2022_2023/JavaApplication92/build/
/controles_tp/2022_2023/Controle_tp_03/nbproject/private/
/controles_tp/2022_2023/Controle_tp_04/nbproject/private/