/Ressources
/TD/ExempleJAXB/nbproject/private/
/TD/ExempleJAXB/build/

*.class
/exemples/ValidationXMLSchema/nbproject/private/
/exemples/ValidationXMLSchema/build/
/exemples/ValidationDTD/nbproject/private/
/exemples/ValidationDTD/build/
/tps/CreerXML/nbproject/private/
/tps/CreerXML/build/