/*
Université de Jijel
Faculté des Sciences Exactes et d'Informatique
Département d'Informatique
3ème Année Licence - Informatique
Données Semi-structurées (DS)
Exemple : Client JSON
*/
/* 
    Created on : 16 mai 2022, 03:14:21
    Author     : Tarek Boutefara <t_boutefara@esi.dz>
*/

#contenu {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
