/* 
    Created on : 9 mai 2023, 11:58:43
    Author     : Tarek Boutefara <t_boutefara@esi.dz>
*/
#contenu {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    width : 250px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    float: left;
    width: 30%;
    margin-bottom: 5px;
}

input {
    width: 60%;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: black solid 2px;
}



